@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"]{
	font-style: italic;
	text-align: center;
}

section[epub|type~="dedication"] b{
	font-style: normal;
}

section[epub|type~="chapter"] header{
	text-align: right;
}

#chapter-14 header,
[epub|type~="z3998:signature"],
[epub|type~="z3998:letter"] header,
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
}

[epub|type~="z3998:recipient"],
#chapter-14 blockquote:first-of-type header,
#chapter-17 blockquote:nth-of-type(10) header p:last-child{
	text-align: left;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] + p,
[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
