@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.signature{
    font-variant: small-caps;
    text-align: right;
}

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > p > span{
    font-variant: small-caps;
}
